.bodyContainer {
    display: flex;
}
.btn-info{
    --bs-btn-color:white!important;
    --bs-btn-hover-color: white!important;
}
.btn-sidebar{
    position: fixed;
    top: 15px;
    right: 15px;
    z-index: 10;
}
.sb-sticky{
    position: sticky;
    top: 15px;
}
.nav-pills{
    --bs-nav-pills-link-active-bg: var(--bs-info)!important;
}

.bg-Home{
    height: 100vh;
}

.fontColorHome{
    position: a;
    color: white;
}
.fontColorHome img{
    position: absolute;
    top: 0;
    left: 0;
    z-index: -1;
    height: 100%;
    width: 100%;
    object-fit: cover;
    object-position: center;
    filter: brightness(50%)
}
img{
    object-fit: contain;
}
.cardHeight{
    height: 100% !important
}